<footer>
  {% if page.lang == "en" %}
    <p>
      Henry Manelski<br>
      PhD Student in Planetary Science<br>
      Email: <a href="mailto:hmanelsk@purdue.edu">hmanelsk@purdue.edu</a><br>
      Twitter: <a href="https://twitter.com/HenryManelski">@HenryManelski</a><br>
      GitHub: <a href="https://github.com/htmanelski">htmanelski</a>
    </p>
  {% elsif page.lang == "de" %}
    <p>
      Henry Manelski<br>
      Doktorand der Planetenwissenschaften<br>
      E-Mail: <a href="mailto:hmanelsk@purdue.edu">hmanelsk@purdue.edu</a><br>
      Twitter: <a href="https://twitter.com/HenryManelski">@HenryManelski</a><br>
      GitHub: <a href="https://github.com/htmanelski">htmanelski</a>
    </p>
  {% endif %}
</footer>
